@{
    ViewData["Title"] = "Home Page";
}

<div class="aboutUS">
    <div class="firstBlock">
        <h1 id="o"> О нас:</h1>
        <h3 id="o2">Широкий охват деятельности</h3>
        <p id="o3" style="font-weight: bold">
            Компания «Фин.Экспертиза» сотрудничает с компаниями, которые работают
            <br/>
            в разных сферах деятельности и отраслях экономики,
            <br/>
            независимо от масштабов и видов организационно-правовых форм.
        </p>
    </div>
    <div class="secondBlock">
        <h3 id="o4">Профессионализм</h3>
        <p id="o5" style="font-weight: bold">
            В штате компании «ФЭК-Эксперт» работают профессиональные аудиторы, юристы, налоговые консультанты и специалисты
            <br/>
            в области бухгалтерского учета. Они хорошо знают налоговый учет и законодательство, гражданское право и отраслевые
            <br/>
            нормативные акты. Они помогут в решении вопросов, связанных с составлением финансовой отчетности.
        </p>
    </div>
</div>


