@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Наши услуги:</h2>
<ul>
    <li>Изучает бухучет и оценивает целесообразность системы внутреннего контроля.</li>
    <li>Проверяет, соблюдены ли нормативные акты и анализирует систему налогообложения.</li>
    <li>Выявляет налоговые риски и финансовые резервы.</li>
    <li>Разрабатывает рекомендации, связанные с улучшением налогообложения и финансового учета.</li>
</ul>

<div class="Price">
    <h3>Цены</h3>
    <ul>
        <li>Аудит бухгалтерской отчетности от 30 000 руб.</li>
        <li>Финансовый анализ от 50 000 руб.</li>
        <li> Восстановление бухгалтерского учета от 15 000 руб.</li>
        <li>Оптимизация налогообложения от 10 000 руб.</li>
        <li>Налоговый аудит от 20 000 руб.</li>
    </ul>
</div>
